h1{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

div#mensaje{
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
}

div#pautas{
    background-color: gold;
    height: 100%;
    width: 30%;
   
}

p, ul,ol{
    font-size: 22px;
    font-family: 'Texturina', serif;
    font-weight: bold;
}

p{
    font-size: 32px;
    text-align: center;
}

span#roja{
    color: red;
}

span#azul{
    color: blue;
}

#imagenes{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    
    
}
img#uno-1, img#dos-1{
    width: 4rem;  
}



img#uno-2, img#dos-2{
    width: 7rem;
}



